extends layout
block content
    include header
    .col-sm-2
        ul.nav.nav-pills.nav-stacked(style='background-color:#F8F8FF; margin-top:20px')
            ul.nav.nav-pills.nav-stacked.nav-pills-stacked-example
                li(role='presentation')
                    a(href='/home') Home
                li.active(role='presentation')
                    a(href='/employee') Employee management
                li(role='presentation')
                    a(href='/department') Department management
                li(role='presentation')
                    a(href='/user') User
    .col-sm-10
        h2 EMPLOYEE MANAGEMENT
        ol.breadcrumb(style='margin-top:25px')
            li
                a(href='/home') Home
            li
                a(href='/employee') Employee management
            li.active Add employee
        form(style='width:300px')
            include messages
        form#addUserForm.form.form-inline(action='/addEmployee' method='post')
            | Full name: 
            br
            input#inputUserName.form-control(type='text', name='employeename', style='width: 300px')
            br
            | Gender:
            br
            select.form-control(name ='gender', style='width: 300px')
                option Male
                option Female
            br
            | Position:
            br
            select.form-control(name ='position', style='width: 300px')
                option Manager
                option Vice manager
                option Staff
            br
            | Department:
            br
            select.form-control(name ='department', style='width: 300px')
                each department, i in departmentlist
                    option(value='#{department._id}')=department.name
            br
            
            | Email: 
            br
            input#inputUserName.form-control(type='text', name='email', style='width: 300px')
            br
            button.btn.btn-success(type='submit' style='margin-top:10px; margin-right:10px') Submit
            a(href='/employee')
                button.btn.btn-default(type='button' style='margin-top:10px') Cancel

